<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<h2>Here are some links to help you start: </h2>


<div container-swiper>
  <swiper [config]="config" #usefulSwiper>
    <div class="swiper-wrapper">
      <div container-image class="swiper-slide">
        <div item-image *ngFor="let item of listBusiness; let i=index">
          <img src="../assets/images/{{item.name}}.png" />
        </div>
      </div>
      <div container-image class="swiper-slide">
        <div item-image *ngFor="let item of listBusiness; let i=index">
          <img src="../assets/images/{{item.name}}.png" />
        </div>
      </div>
      <div container-image class="swiper-slide">
        <div item-image *ngFor="let item of listBusiness; let i=index">
          <img src="../assets/images/{{item.name}}.png" />
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <!-- <div class="swiper-button-prev"></div> -->
  </swiper>
</div>



<!-- <swiper [config]="config">
  <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div>
      </div>
      Add Pagination
      <div class="swiper-pagination"></div>
      Add Arrows
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </swiper> -->

